@media (min-width: 1650px) {
    .sm .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1510px;
    }
}

@media (max-width: 1870px) {
    .challenge-traingle-frame {
        display: none;
    }
}

@media (max-width: 1850px) {
    .main-text-box {
        position: relative;
        padding-left: 50px;
    }

    .project-img1, .project-img2, .img-container {
        width: 100%;
        position: relative;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: 100% 100%;
        padding-right: 50px;
        padding-left: 50px;
        margin: auto;
    }
    .project-img2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .img-container {
        display: block;
        position: relative;
        max-width: 700px;
        z-index: 1;
        padding: 1rem 2rem;
        left:auto;
        margin: auto;
    }
    .main_text {
        transform: translate(0, 50%);
        margin-top: 0;
    }
}

@media (max-width: 1800px) {
    .top-space {
        padding: 40px 0 0 120px;
    }
    .prev-arrow, .next-arrow {
        display: none;
    }
}

@media (max-width: 1780px) {
    .project-img1, .project-img2, .img-container {
        width: 100%;
        position: relative;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: 100% 100%;
        padding-right: 50px;
        padding-left: 50px;
        margin: auto;
    }
    .img-container {
        display: flex;
        flex-direction: row;
        z-index: 1;
        padding: 1rem 2rem;
        margin: 0 auto;
    }
    .main_text2 {
        display: block;
        color: var(--secondary-color);
        transform: translate(0, 20%);
        margin-top: 0;
        padding-bottom: 50px;
        padding-right: 50px;
        padding-left: 50px;
        font-size: 40px;
    }
    .project-title {
        padding-bottom: 40px;
        font-size: 50px;
        line-height: 80px;
    }
    .design_text {
        font-size: 22px;
        line-height: 33px;
        margin: 0;
    }
    .sub-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 20px;
        line-height: 10px;
    }
    .style-frames, .modal, .portfolio-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 60px;
        max-width: 100%;
    }
    .modal-content {
        padding: 20px;
        margin: 20px;
        max-width: 1000px;
        cursor: pointer;
    }
    .half2-cricle, .black-half-circal, .traingle-frame, .yellow-half-circle, .traingle-balck-frame, .traingle-yellow-frame {
        position: absolute;
        width: 100px;
    }
    .half2-cricle {
        right: -170px;
        bottom: -68px;
    }
    .black-half-circal {
        right: 113px;
        bottom: 0;
        filter: var(--svg-color);
    }
    .traingle-frame {
        right: 15px;
        bottom: 50%;
    }
    .yellow-half-circle {
        right: 63px;
        bottom: -14px;
    }
    .traingle-balck-frame {
        right: 10px;
        top: -9px;
        filter: var(--svg-color);
    }
    .traingle-yellow-frame {
        position: relative;
    }
}

@media (max-width: 1750px) {
    .catch-me, .get-in-touch {
        color: var(--secondary-color);
        text-align: center;
        font-size: 50px;
        line-height: 100px;
        text-transform: uppercase;
        margin: 0;
        padding-top: 40px;
    }
    .get-in-touch {
        padding: 40px 10px;
    }
    .main-text-box {
        position: relative;
        padding-left: 50px;
    }
    .prev-arrow, .next-arrow {
        display: none;
    }
}

@media (max-width: 1700px) {
    .top-space {
        padding: 80px 0 0 100px;
    }
    .badge .text {
        display: block;
        position: absolute;
        width: 278px;
        height: 278px;
        left: -30%;
        top: 54%;
        text-align: center;
        border-radius: 50%;
        background: var(--background-color);
        transform: rotate(-45deg) translate(5rem, 5rem) rotate(-315deg);
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }
    .badge:hover .text {
        transform: rotate(-46deg) translate(23.2rem, -6.2rem) rotate(46deg);
        letter-spacing: 1rem;
        line-height: 20rem;
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
    }
}

@media (max-width: 1680px) {
    .project-img1, .project-img2, .img-container {
        width: 100%;
        position: relative;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: 100% 100%;
        padding-right: 50px;
        padding-left: 50px;
        margin: auto;
    }
    .img-container {
        display: flex;
        position: relative;
        max-width: 680px;
        z-index: 1;
    }
    .main-text-box {
        padding-left: 50px;
    }
    .developement-text {
        color: var(--secondary-color);
        font-size: 40px;
        line-height: 80px;
        margin: 0;
        padding: 30px 0 20px;
    }
    .developement-text2 {
        padding-top: 54px;
    }
}

@media (max-width: 1650px) {
    .position-relative {
        position: relative;
    }
    .traingle-frame4 {
        position: absolute;
        left: 29px;
        top: -40px;
    }
}

@media (max-width: 1600px) {
    .top-space {
        padding: 50px 0 0 50px;
    }
    .yellow-half-circle2, .black-half-circal2 {
        position: absolute;
        width: 100px;
    }
    .yellow-half-circle2 {
        right: 20px;
        top: -185px;
    }
    .black-half-circal2 {
        right: 61px;
        top: -191px;
        filter: var(--svg-color);
    }
}

@media (max-width: 1560px) {
    .project-img1, .project-img2, .img-container {
        width: 100%;
        position: relative;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: 100% 100%;
        padding-right: 50px;
        padding-left: 50px;
        margin: auto;
    }
    .img-container {
        display: flex;
        position: relative;
        max-width: 670px;
        z-index: 1;
        padding: 1rem 2rem;
    }
    .main_text {
        transform: translate(0, 50%);
        margin-top: 10px;
    }
    .main_text2 {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        transform: translate(0, 20%);
        margin-top: 0;
        min-height: 750px;
    }
    .sub-list, .share-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .sub-list {
        font-size: 18px;
        line-height: 5px;
    }
    .share-list {
        padding: 60px 12px 0;
    }
    .style-frames, .portfolio-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 60px;
        max-width: 100%;
    }
    .portfolio-img {
        margin-bottom: 0;
    }
    .main-text-box {
        padding-left: 50px;
    }
}

@media (max-width: 1500px) {
    .badge .text {
        display: block;
        position: absolute;
        width: 278px;
        height: 278px;
        left: -30%;
        top: 54%;
        text-align: center;
        border-radius: 50%;
        background: var(--background-color);
        transform: rotate(-45deg) translate(5rem, 5rem) rotate(-315deg);
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }
    .badge:hover .text {
        transform: rotate(-46deg) translate(23.2rem, -6.2rem) rotate(46deg);
        letter-spacing: 1rem;
        line-height: 20rem;
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
    }
}

@media (max-width: 1480px) {
    .position-relative {
        position: relative;
    }
    .traingle-frame4 {
        position: absolute;
        left: 29px;
        top: -40px;
    }
    .main_text {
        transform: translate(0, 50%);
        margin-top: 10px;
    }
    .main_text2 {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        transform: translate(0, 20%);
        margin-top: 0;
        min-height: 750px;
    }
    .sub-list, .share-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .sub-list {
        font-size: 18px;
        line-height: 5px;
    }
    .share-list {
        padding: 60px 12px 0;
    }
}

@media (max-width: 1420px) {
    .project-img1, .project-img2, .img-container {
        max-width: 100%;
        position: relative;
        left: 0;
        margin: 20px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-container {
        display: flex;
        position: relative;
        max-width: 670px;
        z-index: 1;
    }
    .style-frames img {
        max-width: 100%;
    }
    .portfolio-img {
        margin-bottom: 0;
    }
}
